{% extends '../template.html' %}
{% load static %}
{% block title%}
Details
{% endblock%}

{% block mainContent %}

<main>
    <div class="loader d-flex center items-centre fixed ">
        <img src="{% static 'images/loader.gif' %}" alt="Loader" class="loader-img">
    </div>
    <section id="details-section-1" class="darkblue section-padding firstsectionpadding">
        <div class="container">
            <div class="coin-specify-box d-flex space-between">
                <div class="d-flex items-centre">
                    <a href="index.html"><img src="{{ coin.logo_image.url }}" alt={{ coinn.name }}> </a>
                    <h2 class="white-text">{{ coin.name }}</h2>
                </div>
                <div class="coin-price-box d-flex items-centre center">
                    <h5 class="blue-text">{{ coin.name }} Price</h5>
                    <h3 class="green-text items-centre">&#36; {{ coin.price }}</h3>
                </div>
            </div>
            <div id="details-section-2" class="coin-text">
                <div class="coin-explanation">
                    <h2 class="white-text">What is {{ coin.name }}?</h2>
                    <p> {{ coin.details }} </p>
                </div>

                <div class="coin-working">
                    <h2 class="white-text">How does {{ coin.name }} work?</h2>
                    <p> {{ coin.working }}</p>
                </div>

                <div class="coin-advantages">
                    <h2 class="white-text">Advantages of {{ coin.name }}</h2>
                    <p>{{ coin.advantages }}</p>
                </div>

                <div class="coin-disadvantages">
                    <h2 class="white-text">Disadvantages of {{ coin.name }}</h2>
                    <p>{{coin.disadvantages}}</p>
                </div>


                <div class="d-flex center">
                    <a href="{% url 'buy' coinId=coin.id %}" class="button">BUY COINS</a>
                </div>
            </div>
            </div>
        </section>
    </main>

    {% endblock mainContent %}