{% extends '../template.html' %}
{% load static %}

{% block mainContent %}
    
    <main>
    <div class="loader d-flex center items-centre fixed ">
        <img src="{% static 'images/loader.gif' %}" alt="Loader" class="loader-img">
    </div>
        <section id="login-section-1" class="darkblue form-section">
        <div id="share-bar"></div>
        <div class="container">
            <div class="d-flex space-around items-centre">
                <div class="form-text" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
                    <div class="welcome-heading">
                        <h4>welcome</h4>
                    </div>
                    <div class="form-description" >
                        <h3>Login To Buy<br>
                            And Sell Crypto<br>
                            Easily</h3>
                    </div>
                </div>
                <div class="main-form top-border-form" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
                    <div class="form-blue-box blue-box" >
                        <h2>LOGIN</h2>
                        <form id="loginForm" class="form login-form" >
                            <label>Email Address</label><br>
                            <input type="text" name="loginemail"><br>
                        
                            <label>Password</label><br>
                            <input type="password" name="loginpwd"><br>

                            <div class="forgot-password relative">
                                <a href="{% url 'forgotpassword' %}">Forgot password?</a>
                            </div>
                            <p style="text-align: center;  font-size: 20px;" id="logmsg">  </p>
                            <button class="button">Login</button>
                        
                            <p>Don't have an account? <a href="{% url 'register' %}"> Sign Up</a></p>
                        </form>
                    </div>
                </div>
          </div>
        </div>
        </section>
    </main>

{% endblock mainContent %}


