{% extends '../template.html' %}
{% load static %}

{% block mainContent %}
    <main>
        
        <section id="market-section-1" class="hundred section-padding darkblue">
            <div id="share-bar"></div>
            <div class="container">
                <div class="text-center margin-bottom80">
                    <p class="blue-text fontweight700 margin-bottom26" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2100" >SECURELY BUY, SELL and STORE</p>
                    <h2 class="margin-bottom26 white-text" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2000"> The World's Fastest Growing Crypto Currencies</h2>
                    <p class="paddingsides150 fontsize20" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2100">Buy and sell 100+ cryptocurrencies with 20+ fiat currencies using bank transfers or your credit/debit card.</p>
                </div>

                <div class=" margin-bottom50 navyblue col-sm-2 d-flex flex-column center items-centre border-radius10" data-aos="fade-up" data-aos-duration="1000" data-aos-delay=""> 
                    <p class="white-smoke-text">
                        In the past 24 hours  
                    </p>
                    <p class="white-smoke-text">
                        Market is up <span class="green-text">6.66%</span>
                    </p>
                </div>

                
                    {% for coin in coins %}
                    <div>
                    <div class="row d-flex space-between hundred items-centre" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear">
                        <div class="currency-name d-flex items-centre col-sm-2">
                            <h4 class="padding-right10">{{ coin.name }} &nbsp; &nbsp;</h4> <p class="blue-text fontsize20">{{ coin.coin_short_name}}</p>
                        </div>

                        <div class="price col-sm-2 d-flex">
                            <p class="fontsize20 white-smoke-text">&#36; {{ coin.price }} &nbsp; </p>
                        </div>
                        
                        <div class="col-sm-2">
                            <p class="fontsize20 white-smoke-text">$753,636,634,658.38</p>
                        </div>
                        <div class="sparkline-img ">
                        <img src="/media/{{ coin.sparkline }}" alt="{{ coin.name }}" class="hundred">
                        </div>
                        <div class="trade-button">
                            <div class="button">
                                <a href="{% url 'coindetail' coin_id=coin.id %}">Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                #hdh
                    
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
    

{% endblock mainContent %}

