{% extends '../template.html' %}
{% load static %}

{% block title%}
Visacard
{% endblock%}

{% block mainContent %}


<main>
    <div class="loader d-flex center items-centre fixed ">
        <img src="{% static 'images/loader.gif' %}" alt="Loader" class="loader-img">
    </div>
    <section class="section-padding firstsectionpadding hundred relative d-flex"
        id="visacard-section-1">
        <div class="container relative">
            <div class="two-col d-flex items-centre">
                <div class="visacard-text">
                    <h2 data-aos="fade-right" data-aos-easing="linear"
                        data-aos-duration="1500" data-aos-delay="2000">buy the
                        things you love with <span class="blue-color">CRYPTO</span></h2>
                    <div data-aos="fade-right" data-aos-easing="linear"
                        data-aos-duration="1500" data-aos-delay="2500">
                        <p>With the cryptoBit Visa Card, you can convert and
                            spend your favorite cryptocurrencies
                            at more than 60 million merchants worldwide. Just
                            transfer crypto from your spot wallet
                            to your card wallet, and you're ready to go. Spend
                            your crypto anytime, anywhere.</p>
                        <p>*Please refer to the <span class="blue-color">cryptoBit
                                Card FAQ</span> for the supported
                            cryptocurrencies</p>

                    </div>
                </div>
                <div class="col col2">
                    <div class="countdown d-flex"id="countdown"
                        data-aos="fade-left" data-aos-easing="linear"
                        data-aos-duration="1500" data-aos-delay="2000">
                        <div>
                            <div class="days count-down d-flex center
                                items-centre"></div>
                            <div class="text-center">Days</div>
                        </div>
                        <div>
                            <div class="hours count-down d-flex center
                                items-centre"></div>
                            <div class="text-center">Hours</div>
                        </div>
                        <div>
                            <div class="minutes count-down d-flex center
                                items-centre"></div>
                            <div class="text-center">Minutes</div>
                        </div>
                        <div>
                            <div class="seconds count-down d-flex center
                                items-centre"></div>
                            <div class="text-center">Seconds</div>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </section>


    <section id="visacard-section-2" class="darkblue section-padding">
        <div class="container">
            <div class="visacard-perks" data-aos="fade-down"
                data-aos-easing="linear" data-aos-duration="1500">
                <h3> card benefits and perks</h3>
            </div>
            <div class="d-flex space-between items-centre">
                <div class="visacard-image" data-aos="fade-right"
                    data-aos-easing="linear" data-aos-duration="1000">
                    <img src="{% static 'images/visacard.png' %}" alt="visacard"
                        class="hundred">
                </div>


                <div class="benefits d-flex">

                    <div class="d-flex flex-row wrap">
                        <div class="text-padding col-sm-6" data-aos="fade-right"
                            data-aos-easing="linear" data-aos-duration="1500">
                            {% for visacard in visacard %}

                            <div class="visacard-benefits-image">

                                <img src="{{ visacard.featured_image.url }}"
                                    alt="logo">
                            </div>
                            <div class="visacard-benefits-heading">
                                <h3>{{ visacard.title }}</h3>
                            </div>
                            <div class="visacard-benefits-text">
                                <p>{{ visacard.content }}</p>
                            </div>



                            {% endfor %}
                        </div>
                    </div>


                </div>
            </div>



        </div>

    </section>





    <!--FAQ SECTION-->
    <section id="faq-section" class="navyblue section-padding">
        <div class="container">
            <div class="faq-title">
                <h3>These are the questions our customers ask most frequently!</h3>
            </div>
            <div id="accordion" class="accordion">
                <h3 class="darkblue"><a href="#"> <span><i class="fal
                                fa-angle-down"></i></span> What is actually
                        cryptocurrency?</a></h3>
                <div class="faq-paragraph">
                    <p>
                        Cryptocurrencies should not be seen as a currency. The
                        name cryptocurrency is a misnomer.
                        They do not serve as an alternative to the Rupee or
                        other fiat currency. They really are an
                        asset/software that is used to write on the blockchain
                        and for incentivising the nodes – if
                        at all they serve as an instrument for payments, this
                        use case is limited to within the blockchain
                        ecosystem to incentivise the nodes.
                    </p>
                </div>
                <h3 class="light-background"><a href="#"> <span><i class="fal
                                fa-angle-down"></i></span>Who are the users?</a></h3>
                <div class="faq-paragraph">
                    <p>
                        The users are individuals or companies that submit
                        transactions into the blockchain network to be validated
                        and processed. The banking equivalent would be you
                        logging in to your banking account and submitting a
                        transaction to send money to another account.
                    </p>
                </div>
                <h3 class="darkblue"><a href="#"> <span><i class="fal
                                fa-angle-down"></i></span>Will cryptocurrency be
                        widely accepted?</a></h3>
                <div class="faq-paragraph">
                    <p>
                        Cryptocurrency has bloomed since 2009. Some commercial
                        banks, including some investment banks, introduce
                        their own cryptocurrencies for the purposes of
                        settlements and transactions with certain
                        financial institutions and corporations. At the moment,
                        Central banking is not interested
                        in cryptocurrencies, but this may change in the future.
                    </p>
                </div>
                <h3 class="light-background"><a href="#"> <span><i class="fal
                                fa-angle-down"></i></span>What are the
                        government's concerns around use of cryptocurrency?</a></h3>
                <div class="faq-paragraph">
                    <p>
                        The government is concerned about: </p>
                    <ul>
                        <li>The use of cryptocurrencies for illicit activities.</li>
                        <li>Tax evasion.</li>
                        <li>Money laundering.</li>
                        <li>Loss of control over monetary policy and flight of
                            capital overseas.</li>
                    </ul>

                </div>
                <h3 class="darkblue"><a href="#"> <span><i class="fal
                                fa-angle-down"></i></span>Are the government's
                        concerns valid?</a></h3>
                <div class="faq-paragraph">
                    <p>
                        Yes. However, all new technologies pose risks. There
                        were concerns around the
                        use of the printing press (jobs), automobiles and
                        aeroplanes (safety), internet
                        (surveillance-free communication) as well, as with many
                        new technologies such as
                        artificial intelligence, drones and robotics. A ban is
                        usually not a good answer
                        to regulating new technologies.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>



{% endblock mainContent %}