{% extends '../template.html' %}
{% load custom_tag %}
{% block mainContent %}
<main>
    <section class="section-padding hundred darkblue" id="register-section-1">
        <div class="container">
            <div class="d-flex space-around items-centre">
                <h2 class="thankyou white-text" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="2000">
                    Transaction Successful!
                </h2>
                <div class="receipt " data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="2000">
                    <h3 class="white-text margin-bottom26" >Transaction Summary</h3>
                    <div>
                        <table>
                            <tr>
                                <td class="white-text">Coin Name:</td>
                                <td>{{Coin.name}} </td>

                            </tr>
                            <tr>
                                <td class="white-text">Quantity:</td>
                                <td>{{quantity}} </td>
                            </tr>
                            <tr>
                                <td class="white-text">Price per coin:</td>
                                <td>$ {{Coin.price}} </td>
                            </tr>
                            <tr>
                                <td class="white-text">Total Amount:</td>
                                {% comment %} <td>$ {% widthratio Coin.price 1 quantity %} </td> {% endcomment %}
                                <td>{{quantity|multiply:Coin.price}}</td>
                            </tr>
                            <tr>
                                <td class="white-text">Full Name:</td>
                                <td>{{fname}} {{lname}} </td>
                            </tr>
                            
                            <tr>
                                <td class="white-text">Email Address:</td>
                                <td>{{email}} </td>
                            </tr>
                            <tr>
                                <td class="white-text">Account Number:</td>
                                <td>{{accno}} </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock mainContent %}